
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tetris-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tetris
  template:
    metadata:
      labels:
        app: tetris
    spec:
      containers:
      - name: tetris
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 80
